* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(
    rgba(255, 136, 40, 0.884),
    rgba(39, 18, 0, 0.884)
  );
  overflow-y: hidden;
}

button {
  cursor: pointer;
}
